# Dependencies
node_modules/

# Next.js
.next/
out/

# Build
build/

# Environment files (IMPORTANT)
.env*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System
.DS_Store
Thumbs.db

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo

# Misc
*.pem

# Optional (delete if not needed)
zi6BmLbz/